In [2]:
#let's listify the contents
what_were_covering=[
    "0. An end-to-end Scikit-Learn workflow",
    "2. Getting the data ready",
    "3. Choose the right estimator/algorithm for our problems",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!",
]

In [3]:
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '2. Getting the data ready',
 '3. Choose the right estimator/algorithm for our problems',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

In [3]:


#standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
import sklearn
sklearn.show_versions()

System:
    python: 3.13.2 | packaged by Anaconda, Inc. | (main, Feb  6 2025, 18:49:14) [MSC v.1929 64 bit (AMD64)]
executable: C:\Users\hsree\Documents\AILearning\env\python.exe
   machine: Windows-11-10.0.26100-SP0

Python dependencies:
      sklearn: 1.6.1
          pip: 25.1
   setuptools: 72.1.0
        numpy: 2.2.5
        scipy: 1.15.3
       Cython: None
       pandas: 2.2.3
   matplotlib: 3.10.0
       joblib: 1.4.2
threadpoolctl: 3.5.0

Built with OpenMP: True

threadpoolctl info:
       user_api: blas
   internal_api: mkl
    num_threads: 8
         prefix: mkl_rt
       filepath: C:\Users\hsree\Documents\AILearning\env\Library\bin\mkl_rt.2.dll
        version: 2023.1-Product
threading_layer: intel

       user_api: openmp
   internal_api: openmp
    num_threads: 16
         prefix: vcomp
       filepath: C:\Users\hsree\Documents\AILearning\env\vcomp140.dll
        version: None

In [6]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
heart_disease=pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
#create x (feature matrix)
X=heart_disease.drop('target' , axis=1)
X
#create y (test matrix)
y=heart_disease.target
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
# choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators= 100)

#we'll get the default paramter
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
#3. Fit the model to the traning data
#test_size=(0.2) means 80% of the data
#X_train   # 80% of feature data for training
#X_test    # 20% of feature data for testing
#y_train   # 80% of labels for training
#y_test    # 20% of labels for testing

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [11]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [12]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
61,54,1,1,108,309,0,1,156,0,0.0,2,0,3
112,64,0,2,140,313,0,1,133,0,0.2,2,0,3
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,48,1,0,122,222,0,0,186,0,0.0,2,0,2
29,53,1,2,130,197,1,0,152,0,1.2,0,0,2
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2
91,57,1,0,132,207,0,1,168,1,0.0,2,0,3
262,53,1,0,123,282,0,1,95,1,2.0,1,2,3

In [13]:
#make a predition
y_preds=clf.predict(X_test)
y_preds

array([1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0])

In [14]:
y_test

80     1
75     1
106    1
257    0
289    0
      ..
95     1
237    0
260    0
105    1
168    0
Name: target, Length: 61, dtype: int64

In [15]:
# 4. Evaluate the  model on the training data and test data
clf.score(X_train , y_train)

1.0

In [16]:
clf.score(X_test , y_test)

0.8360655737704918

In [17]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score 
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.90      0.79      0.84        33
           1       0.78      0.89      0.83        28

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

In [18]:
confusion_matrix(y_test , y_test)

array([[33,  0],
       [ 0, 28]])

In [23]:
accuracy_score(y_test,y_preds)

0.8032786885245902

In [19]:
#5. improve a model
#try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators= i).fit(X_test,y_test)
    print(f"Model accuracy on test set: {clf.score(X_test,y_test)*100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 100.00%

Trying model with 20 estimators...
Model accuracy on test set: 100.00%

Trying model with 30 estimators...
Model accuracy on test set: 100.00%

Trying model with 40 estimators...
Model accuracy on test set: 100.00%

Trying model with 50 estimators...
Model accuracy on test set: 100.00%

Trying model with 60 estimators...
Model accuracy on test set: 100.00%

Trying model with 70 estimators...
Model accuracy on test set: 100.00%

Trying model with 80 estimators...
Model accuracy on test set: 100.00%

Trying model with 90 estimators...
Model accuracy on test set: 100.00%

In [25]:
#6.save a model and load it
import pickle
pickle.dump(clf,open("random_forst_model_1.pkl","wb"))

In [26]:
loaded_model=pickle.load(open("random_forst_model_1.pkl","rb"))
loaded_model.score(X_test, y_test)

1.0

In [ ]:
## 1. Getting our data ready to be used with the machine learning 

Three main things we have to do:
    1. Split the data into features and labels (usually `X` & `y`)
    2. Filling (also called imputing) or disregarding missing values
    3. Converting non-numrical values to numnerical values AKA feature encoding

In [31]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [32]:
X= heart_disease.drop("target" ,axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [35]:
y=heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [21]:
#Split the data into traning and test sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [22]:
X_train.shape , X_test.shape , y_train.shape , y_test.shape

((800, 4), (200, 4), (800,), (200,))

In [39]:
X.shape

(303, 13)

In [40]:
len(heart_disease)

303

In [ ]:
# make it all numerical

In [20]:
car_sales=pd.read_csv("car-sales-extended-missing-data.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [21]:
car_sales["Doors"].value_counts()

Doors
4.0    811
5.0     75
3.0     64
Name: count, dtype: int64

In [22]:
len(car_sales)

1000

In [23]:
car_sales.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

In [56]:
#slipt into x/y
X=car_sales.drop('Price',axis=1)
y=car_sales['Price']

In [57]:
X, y

(        Make Colour  Odometer (KM)  Doors
 0      Honda  White        35431.0    4.0
 1        BMW   Blue       192714.0    5.0
 2      Honda  White        84714.0    4.0
 3     Toyota  White       154365.0    4.0
 4     Nissan   Blue       181577.0    3.0
 ..       ...    ...            ...    ...
 995   Toyota  Black        35820.0    4.0
 996  missing  White       155144.0    3.0
 997   Nissan   Blue        66604.0    4.0
 998    Honda  White       215883.0    4.0
 999   Toyota   Blue       248360.0    4.0

 [950 rows x 4 columns],
 0      15323.0
 1      19943.0
 2      28343.0
 3      13434.0
 4      14043.0
         ...
 995    32042.0
 996     5716.0
 997    31570.0
 998     4001.0
 999    12732.0
 Name: Price, Length: 950, dtype: float64)

In [29]:
# build machine learning model
from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

NameError: name 'X_train' is not defined

In [58]:
X_train , X_test , y_train , y_test= train_test_split(X,y,test_size=0.2)

In [27]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White        35431.0    4.0
1     BMW   Blue       192714.0    5.0
2   Honda  White        84714.0    4.0
3  Toyota  White       154365.0    4.0
4  Nissan   Blue       181577.0    3.0

In [28]:
#  Why is Doors treated as a category (even though it’s a number)?
# Because:

# Doors is not a measurement like mileage or price.

# It tells us how many doors a car has — like 2, 3, 4, or 5.

# These are just types of cars, not values you calculate with.

# Example:
# Think of this:

# 5 doors is not more important than 3 doors.

# You don't do math like “average of 3.5 doors” to understand a car.

# So, even if Doors looks like a number, it's really just a label — like "Red", "Blue", or "Honda".

# That’s why we use OneHotEncoder: to turn each door count into a separate column, like this:

# 3 doors	4 doors	5 doors
# 0	1	0
# 0	0	1

In [29]:
#Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 
categorical_feature=['Make','Colour','Doors']
one_hot =OneHotEncoder(sparse_output=False)
transformer=ColumnTransformer([("one_hot",one_hot,categorical_feature )], remainder="passthrough")
tranformed_X=transformer.fit_transform(X)
tranformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.48360e+05]], shape=(1000, 16))

In [30]:
pd.DataFrame(tranformed_X).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,35431.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,192714.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,84714.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,154365.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,181577.0

In [31]:
#alternative option avaliable for converting category to numerical
dummies=pd.get_dummies(car_sales[['Make','Colour','Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4.0,False,True,False,False,False,False,False,False,True
1,5.0,True,False,False,False,False,True,False,False,False
2,4.0,False,True,False,False,False,False,False,False,True
3,4.0,False,False,False,True,False,False,False,False,True
4,3.0,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,4.0,False,False,False,True,True,False,False,False,False
996,3.0,False,False,False,False,False,False,False,False,True
997,4.0,False,False,True,False,False,True,False,False,False
998,4.0,False,True,False,False,False,False,False,False,True
999,4.0,False,False,False,True,False,True,False,False,False

In [32]:
#lets refit the data
np.random.seed(42)
X_train , X_test , y_train , y_test= train_test_split(tranformed_X, y, test_size=0.2)
model.fit(X_train , y_train)

NameError: name 'model' is not defined

In [1]:
y.head()

NameError: name 'y' is not defined

In [34]:
## 1.2 What if there is missing values
# 1. Fill with somke values (also know as imputation)
#2. Remove the sample with missing data altogether.
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [39]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [36]:
#create X and y
X=car_sales.drop("Price",axis=1)
y=car_sales["Price"]

In [60]:
#Lets try and convert our data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 
categorical_feature=['Make','Colour','Doors']
one_hot =OneHotEncoder(sparse_output=False)
transformer=ColumnTransformer([("one_hot",one_hot,categorical_feature )], remainder="passthrough")
tranformed_X=transformer.fit_transform(X)
tranformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]], shape=(950, 15))

In [43]:
car_sales["Doors"].value_counts()

Doors
4.0    811
5.0     75
3.0     64
Name: count, dtype: int64

In [45]:
###Option 1. Fill missing data with Pandas
car_sales["Make"].fillna("missing",inplace=True)
car_sales["Colour"].fillna("missing",inplace=True)
car_sales["Odometer (KM)"].fillna(car_sales["Odometer (KM)"].mean(),inplace=True)

#In the data, 'Doors' is considered categorical, and since 4 is the highest value, it has been selected
car_sales["Doors"].fillna(4,inplace=True)

In [46]:
#Check our dataframe again
car_sales.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [48]:
#remove rows with missing Prive value
car_sales.dropna(inplace=True)

In [49]:
car_sales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [50]:
len(car_sales)

950

In [61]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 
categorical_feature=['Make','Colour','Doors']
one_hot =OneHotEncoder(sparse_output=False)
transformer=ColumnTransformer([("one_hot",one_hot,categorical_feature )], remainder="passthrough")
tranformed_X=transformer.fit_transform(X)
tranformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]], shape=(950, 15))

np.random.seed(42)
X_train , X_test , y_train , y_test= train_test_split(tranformed_X, y, test_size=0.2)
model.fit(X_train , y_train)

In [63]:
model.score(X_test,y_test)

0.22011714008302485

In [5]:
## Fill missing values with sklearn
car_missing_missing=pd.read_csv("car-sales-extended-missing-data.csv")
car_missing_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [9]:
car_missing_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [10]:
#drop the rows with no labels
car_missing_missing.dropna(subset=["Price"],inplace=True)

In [11]:
car_missing_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [12]:
#Split into X&y
X=car_missing_missing.drop("Price", axis=1)
y=car_missing_missing["Price"]
X.head()
y.head()

0    15323.0
1    19943.0
2    28343.0
3    13434.0
4    14043.0
Name: Price, dtype: float64

In [14]:
X.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [19]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
# imputers help to fill the missing data using SimpleImputer class as well as ColumnTransformer class  using strategy and fill_value .
#
# Fill categorical values with "missing" & numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define column lists (use different names)
cat_features = ["Make", "Colour"]
door_features = ["Doors"]
num_features = ["Odometer (KM)"]

# Create an imputer
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_features),
    ("num_imputer", num_imputer, num_features)
])

# Transform the data
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], shape=(950, 4), dtype=object)

In [21]:
car_sales_filled=pd.DataFrame(filled_X, columns=["Make","Colours","Doors","Odometer (KM) "])
car_sales_filled.head()

     Make Colours Doors Odometer (KM)
0   Honda   White   4.0        35431.0
1     BMW    Blue   5.0       192714.0
2   Honda   White   4.0        84714.0
3  Toyota   White   4.0       154365.0
4  Nissan    Blue   3.0       181577.0

In [24]:
car_sales_filled.isna().sum()

Make              0
Colours           0
Doors             0
Odometer (KM)     0
dtype: int64

In [27]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 
categorical_feature=['Make','Colours','Doors']
one_hot =OneHotEncoder(sparse_output=False)
transformer=ColumnTransformer([("one_hot",one_hot,categorical_feature )], remainder="passthrough")
tranformed_X=transformer.fit_transform(car_sales_filled)
tranformed_X

array([[0.0, 1.0, 0.0, ..., 1.0, 0.0, 35431.0],
       [1.0, 0.0, 0.0, ..., 0.0, 1.0, 192714.0],
       [0.0, 1.0, 0.0, ..., 1.0, 0.0, 84714.0],
       ...,
       [0.0, 0.0, 1.0, ..., 1.0, 0.0, 66604.0],
       [0.0, 1.0, 0.0, ..., 1.0, 0.0, 215883.0],
       [0.0, 0.0, 0.0, ..., 1.0, 0.0, 248360.0]],
      shape=(950, 15), dtype=object)

In [33]:
#Now we got our data as numbers and filled (no missing values)
#Lets fit a model
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split 

X_train , X_test , y_train , y_test= train_test_split(tranformed_X , y , test_size=0.8)
model= RandomForestRegressor()
model.fit(X_train , y_train)
model.score(X_test , y_test)

0.18865658852277112

## 2. Choose the right estimator /algorithm for your problem
#some things to remember
    # (i) Sklearn refers to machine learning moodels, algorithms as estimators.
    # (ii) Classification problem-predecting a category (heart disease or not)
    #         (i) Sometimes you'll see clf (short for classifier) used as a classification estimator
    # (iii) Regression problem - predecting a number(selling price of a car)

# 2.1 Picking a machine learning model for a regression problem
Lets use the California Housing dataset

In [13]:
#v Get the dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]], shape=(20640, 8)),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894], shape=(20640,)),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [14]:
housing_df=pd.DataFrame(housing.data, columns=housing.feature_names)
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [15]:
housing_df['target']=housing.target
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [6]:
housing_df.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
target        0
dtype: int64

In [12]:
housing_df =  housing_df.drop("MedhouseVal" , axis=1)
housing_df

KeyError: "['MedhouseVal'] not found in axis"

In [16]:
#IMPORT ALGORITHM
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

#setup random seed
np.random.seed(42)

#create the data
X=housing_df.drop('target',axis=1)
y=housing_df.target # median house price in $100,000s

# Split into train and test sets
X_train , X_test , y_train , y_test =train_test_split(X,y, test_size=0.2)

#instantiate and fit the model (on the training set)
model=Ridge()
model.fit(X_train , y_train)

#check the score of the model (on the test set)
model.score(X_test , y_test)

0.5758549611440131

What if 'Ridge' didn't work or the score didn't fit our  needs?

well , we could always try a different model

How about we try an ensemble model (an ensemble is combination of smaller model to try and make better prediction
just a single model

In [19]:
#import the RandomForestRegressor model class from the ensemble module
from sklearn.ensemble import RandomForestRegressor

#Setup the random seed

#create the data
#create the data
X=housing_df.drop('target',axis=1)
y=housing_df.target # median house price in $100,000s

# Split into train and test sets
X_train , X_test , y_train , y_test =train_test_split(X,y, test_size=0.2)

#Create random forest model
model = RandomForestRegressor()
model.fit(X_train , y_train)

#check the score of the model (on the test set)
model.score(X_test , y_test)

0.8000436613681727

## Picking a machine learning model for a classification problem